DATABASE_HOST=mysql
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
DATABASE_NAME=yt
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=yt
PORT=8080
TWO_CAPTCHA_API_KEY=
ELEVEN_LABS_API_KEY=
GPT_ZERO_API_KEY=
TZ=UTC
REDIS_HOST=redis
REDIS_PORT=6379