DATABASE_HOST=mysql
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
DATABASE_NAME=yt
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=yt
PORT=8080
PMA_HOST=mysql
PMA_PORT=3306
TWO_CAPTCHA_API_KEY=3e435898666d286c6fbd2ab4bbb0c0a3
ELEVEN_LABS_API_KEY=sk_b5ab665e954a878f631cff41a846054c0301a3db4269c0dc
GPT_ZERO_API_KEY=
TZ=UTC
REDIS_HOST=redis
REDIS_PORT=6379